@model IEnumerable<EmployeePayrollAjax.Models.EmployeeModel>

<div class="col-md-8 offset-md-2">

          @*  <h1 class="text-center"> Employee Payroll</h1>*@
             <h1 class="text-center"> <a class="icon"> <img src="~/Asset/logo.png"></a> EmployeePayRoll</h1>

            


        <table class="table">
                <thead class="thead-light">
                    <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Department)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Notes)
                </th>
                <th>
                    <a onclick="showInPopup('@Url.Action("AddEmployee","Employee",null,Context.Request.Scheme)','New Employee')" class="btn btn-success text-white"><i class="fas fa-random"></i> New Employee</a>
                </th>
            </tr>
        </thead>
        <tbody>
             @foreach (var item in Model)
             {
                 <tr>
                     <td>
                         @Html.DisplayFor(modelItem => item.Name)
                     </td>
                     <td>
                         @Html.DisplayFor(modelItem => item.Gender)
                     </td>
                     <td>
                         @Html.DisplayFor(modelItem => item.Department)
                     </td>
                     <td>
                         @Html.DisplayFor(modelItem => item.Notes)
                     </td>
                     <td>
                         <div>
                              <a onclick="showInPopup('@Url.Action("AddEmployee","Employee",new {id=item.EmployeeId},Context.Request.Scheme)','Update Employee')" class="btn btn-info text-white"><i class="fas fa-pencil-alt" ></i> Edit</a>
                                <form asp-action="DeleteEmployee" asp-route-id="@item.EmployeeId" onsubmit="return jQueryAjaxDelete(this)" class="d-inline">
                                   <input type="hidden" asp-for="@item.EmployeeId" />
                                   <input type="submit" value="Delete" class="btn btn-danger" />
                                </form>
                          </div>
                     </td>
                 </tr>
             }
         </tbody>
         </table>
    </div>
